.navbar .logo { padding: 14px 10px 0 0; }

.jumbotron { background-color: transparent;}

.jumbotron p { margin-top: 20px; margin-bottom: 30px; }

@media screen and (max-width: 768px) { 
	.btn-block { margin-bottom: 1.33em; }	
	.navbar .logo { padding: 16px 0 0 15px; }
	.navbar-brand { font-size: 16px; }
	.jumbotron h2 { font-size: 1.3em; text-align: center; }
}

#launch-progress { margin-top: -60px; margin-bottom: 40px; }
#launch-progress h1 { margin-bottom: 20px; }

#tweets-container .row div { overflow: hidden; }



.thumbnail { margin-top:30px; }

.imagewrapper {
	overflow: hidden;
	height:233px;
}