@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

.light-shadow {
	text-shadow: 1px 1px 1px #c7c5c7;
}

header {
	box-shadow: white 0 1px 0;
	border-bottom: 1px solid #bbb;
	/* thanks to subtlepatterns.com for the background images */
	background-image: url('../images/paper_fibers.png');
	background-size: auto; 
	background-repeat: repeat repeat;
}

.navbar { 
	margin-bottom: 0; 
	background-color: transparent;
}

.navbar .logo { 
	margin-top: 10px;
	padding-right: 10px;
	max-height: 30px;
}

.navbar-brand {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	text-shadow: 0px 0px 1px #c7c5c7;
}

.jumbotron { background-color: transparent; padding-bottom: 0; }

.jumbotron p { margin-top: 20px; margin-bottom: 30px; }

@media screen and (max-width: 768px) { 
	.btn-block { margin-bottom: 1.33em; }	
	.navbar .logo { margin-top: 10px; padding-left: 15px; padding-right:0; }
	.navbar-brand { font-size: 16px; }
	.jumbotron h2 { font-size: 1.3em; text-align: center; }
	.img-responsive { margin: 0 auto; }
}

/* retina support for background images */
/* thanks labs.bigroomstudios.com/libraries/Retinaize-your-images-with-js */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {

	header {
		background-image: url('../images/paper_fibers_@2X.png');
		background-size: 410px 410px;
		/* This should match the dimensions of the original resolution image */
	}

	#archive {
		background-image: url('../images/struckaxiom_@2X.png');
		background-size: 410px 410px;
	}	
}

#main h1 {margin-top: 40px; margin-bottom: 40px;}

div#faq { margin-top:40px; }

.tweets-list blockquote { 
	overflow: hidden;
	word-wrap: break-word; 
}

#archive {
	margin-top:20px;
	border-top: 1px solid #bbb;
	background: #f8f8f8;
	-webkit-box-shadow: white 0 1px 0;
	-moz-box-shadow: white 0 1px 0;
	box-shadow: white 0 1px 0;
	border-bottom: 1px solid #bbb;
	background-image: url('../images/struckaxiom.png');
	background-size: auto; 
	background-repeat: repeat repeat;
}

#archive h1 { margin-top: 20px; margin-bottom: 20px; }

#tweets-archive { margin-top: 40px; }


footer {
	padding-top:30px;
	margin-bottom: 30px;
}

footer h3 {
	margin-top: 35px;
	margin-bottom: 15px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: .857142857em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #777;
}

footer p {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: #666;
}

.thumbnail { margin-top:30px; }

.imagewrapper {
	overflow: hidden;
	height:233px;
}